@model MyOneSignalDemo.Models.OneSignalModel
@{
    ViewBag.Title = "Create App";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-12">
    @using (Html.BeginForm("AppManagementCreate", "Home", FormMethod.Post))
    {
        <label>App Name</label>
        <p>@Html.TextBoxFor(m => m.name)</p>
        <p><input type="submit" value="Create App" class="btn btn-default" /></p>
    }
</div>